<!--==================== Who we are ====================-->
<section class="add-section space bg-light" id="about-us">
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>Who we are</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Protege Global Ecommerce (PG-ecom) has trained over 1,200 people in how to launch
                    and manage successful online businesses. Courses are currently offered in Haitian
                    Creole to help Haitians learn how to make money online. Course offerings will be expanded to English
                    soon.
                </p>
            </div>
        </div>
    </div>
</section>
<!--// END of Who we are -->