<!--==================== About ====================-->
<section class="about-us">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 col-lg-7 align-items-center">
                <div class="testi-content_block">
                    <img src="{{#unless isPageHome}}..{{/unless}}/images/quote.png" class="img-fluid" alt="#">
                    <h3>Esterling Accime is a software engineer, educator and
                        entrepreneur with a wealth of knowledge
                        in digital retailing and e-commerce.</h3>
                    <span>Esterling Accime</span>
                    <p>PG-ecom Founder, United States</p>
                </div>
            </div>
        </div>
    </div>
    <div class="testi-img_wrap">
        <img src="{{#unless isPageHome}}..{{/unless}}/images/accime_profile.png" class="img-fluid" alt="#" width="650">
    </div>

</section>
<section class="add-section content-wrap">
    <div class="container">
        <div class="row d-flex">
            <p class="about-bio">Esterling founded Protege Global E-commerce (PG-ecom), a skills training organization
                that creates content and courses around e-commerce. Courses are provided in Haitian Creole
                to help Haitians launch, create and manage successful online businesses.
                Esterling is also co-founder of <a href="https://ecombrandbuilder.com/">Ecom Builder</a> that helps
                customers start
                their e-commerce business with the right high-conversion creative and assets.
            </p>
            <p class="about-bio">Growing up in Haiti, Esterling has a passion for bringing technology to the country.
                He believes the future of Haiti’s technology landscape is promising if those with the experience
                and knowledge democratize access. To help connect Haitians with other technology professionals,
                Esterling co-founded <a href="http://tichaiti.dev/">tichaiti</a> to collectively create solutions that
                uplift Haiti and the Haitian people.
            </p>
        </div>
    </div>
</section>
<!--//END about-us -->