<!-- Main Title -->
<div class="main-title__alt header__bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="hero-title  text-center  text-md-left">
                    <h1>Take your business<br>
                        online.</h1>
                    <div class="add-btn courses-btn_wrap">
                        <a href="https://courses.pgecom.com/" class="btn btn-primary">Courses</a>
                        <!-- <a href="https://bit.ly/pg-checkout" data-toggle="modal" data-target="#contactmodal" class="btn btn-primary">Start now</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-banner_md">
                    <img src="{{#unless isPageHome}}..{{/unless}}/images/online_shopping.svg" class="img-fluid" alt="#">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-style d-none d-md-block">
        <img src="{{#unless isPageHome}}..{{/unless}}/images/bg-1.png" class="img-fluid" alt="#">
    </div>
</div>