<!--==================== ADD ====================-->
<section class="add-section clearfix collapse-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src="{{#unless isPageHome}}..{{/unless}}/images/shield-green.svg" class="img-fluid shield" alt="Check mark">
                    <div class="add-content">
                        <h3> Book Esterling Accime now</h3>
                        <p>Software engineer, educator and entrepreneur with a wealth of knowledge in digital retailing
                            and e-commerce.</p>
                    </div>
                    <div class="add-btn">
                        <a href="https://calendly.com/accimeesterlin/speaking" class="btn btn-primary">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>