<section class="courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center-title">
          <h2>Courses</h2>
        </div>
      </div>
    </div>
    <div class="row courses-wrap">
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/ds-banner.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Launch and manage a successful e-commerce business</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Maintain your e-commerce website</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Attract the right customers with the right strategy</p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://bit.ly/pg-checkout" class="btn btn-primary">
                Start now
              </a>
              <a href="https://esterling-accime-s-school.teachable.com/p/dropshipping-masterclass"
                class="btn btn-primary">
                View curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/shopify-logo.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Earn money by building Shopify stores for clients</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Join a community of Shopify Partners</p>
            </div>

            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>
                Learn the ins and outs of managing a successful Shopify store
              </p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://sso.teachable.com/secure/583714/checkout/2783432/shopify-partner"
                class="btn btn-primary">
                Start now
              </a>
              <a href="https://courses.pgecom.com/p/shopify-partner" class="btn btn-primary">
                View Curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/Facebook Ads.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Launch a Facebook Ads Campaign</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Analyze Facebook Ads Data</p>
            </div>

            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Learn how to do retargeting</p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://courses.pgecom.com/p/facebook-ads" class="btn btn-primary">
                Start now
              </a>
              <a href="https://sso.teachable.com/secure/583714/checkout/2810126/facebook-ads" class="btn btn-primary">
                View Curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/mini-dropshipping.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Understand Dropshipping Business Model</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Finding trending products</p>
            </div>

            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Find hot products on Facebook</p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://courses.pgecom.com/p/mini-dropshipping" class="btn btn-primary">
                Start now
              </a>
              <a href="https://courses.pgecom.com/p/mini-dropshipping" class="btn btn-primary">
                View Curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="../images/shopify_and_cj_dropshipping.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Start a business or grow an existing one with Shopify</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>
                Source & fulfill with high quality products and faster
                shipping
              </p>
            </div>

            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Sell trending products with no inventory</p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://courses.pgecom.com/p/shopify-cj-dropshipping" class="btn btn-primary">
                Pre-Order
              </a>
              <a href="https://courses.pgecom.com/p/shopify-cj-dropshipping" class="btn btn-primary">
                View Curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row courses-element">
          <div class="courses-block">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/shopify.png" alt="" />
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Start a business or grow an existing one with Shopify</p>
            </div>
            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Turn your retail store into an online store</p>
            </div>

            <div class="courses-text">
              <i class="fas fa-check"></i>
              <p>Bring your business to Shopify</p>
            </div>
            <div class="add-btn courses-btn_wrap">
              <a href="https://sso.teachable.com/secure/583714/checkout/2810972/shopify" class="btn btn-primary">
                Start now
              </a>
              <a href="https://courses.pgecom.com/p/shopify" class="btn btn-primary">
                View Curriculum
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="courses-bg courses-bg_secong">
    <img src="{{#unless isPageHome}}..{{/unless}}images/bg-image4.png" class="img-fluid" alt="#" />
  </div>
</section>