<!--==================== NEW INSURANCE ====================-->
<div class="space bg-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>E-commerce</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-7 ml-auto">
                <div class="insurance-title_wrap insurance-title_wrap2">
                    <p class="insurance-para">2020 was the year that projected e-commerce into our everyday lives.
                        More and more people are shopping and buying online.
                        In the U.S. alone, e-commerce sales are projected to hit more than $700 billion in 2020,
                        and global e-commerce sales are expected to reach $4.2 trillion according to Shopify.
                    </p>
                    <p>Now is the time to start your online business. </p>
                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>It’s more than just having a nice website</h6>
                            <p>Your website and strategy needs to cut through the noise, get noticed and attract
                                customers.</p>
                        </div>
                    </div>
                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Finding the right supplier</h6>
                            <p>You might have a great idea and an endless source of website traffic,
                                but if your manufacturer can’t keep up with demand, or if the quality of the product
                                they are producing is subpar, you won’t be in business long.
                            </p>
                            <p>Targeting the right customer on the right device at the right moment can be challenging -
                                it all comes down to your advertising and marketing strategy.
                            </p>
                        </div>
                    </div>
                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Target the right audience</h6>
                            <p>Target the right person on the right device at the right moment can be challenging</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-3">
        <img src="./{{#unless isPageHome}}..{{/unless}}/images/teamwork.svg" width="680" class="img-fluid" alt="#">
    </div>
    <div class="bg-style2">
        <img src="{{#unless isPageHome}}..{{/unless}}/images/bg-2.png" class="img-fluid" alt="#">
    </div>
</div>
<!--//END NEW INSURANCE -->