<!--==================== FAQS SECTION ====================-->
<section class="content-wrap" id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>FAQs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="content-box content-box1">
                    <h5>Can I watch the lessons on my phone?</h5>
                    <p>Yes you can watch it on your phone. Navigate via the class url, and login to the assigned courses
                    </p>
                </div>
                <div class="content-box">
                    <h5>How is the material available online?</h5>
                    <p>Online classes are delivered using a learning management system, called Teachable.
                        Students log into Teachable and can select their course sites.
                        Once a student is in their course site, they can access lectures,
                        PowerPoint, assignments, readings, documents, videos, links, comments, etc
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-box content-box1">
                    <h5>Are online classes self-paced or scheduled?</h5>
                    <p>The programs are self-paced or independent study.</p>
                </div>
                <div class="content-box">
                    <h5>Can I go on vacation while taking an online class?</h5>
                    <p>Online courses require weekly logins and weekly assignment submissions.
                        Students must ensure they are able to meet the course requirements throughout
                        the duration of the semester.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END FAQS SECTION -->