<!-- Navbar -->
<div class="nav-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img src="{{#unless isPageHome}}..{{/unless}}/images/pg-logo.png" alt="PG-ecom Logo" />
          </a>
          <button class="navbar-toggler navbar-toggler_second" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            <!--  <span class="navbar-toggler-icon"></span> -->
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                                    <a class="nav-link" href="tel:+16785048981" tabindex="-1" aria-disabled="true">+1 678 504-8981</a>
                                </li> -->
              <li class="nav-item {{#if isPageHome}}active{{/if}}">
                <a class="nav-link" href="/" tabindex="-1" aria-disabled="true">
                  Home
                </a>
              </li>
              <li class="nav-item {{#if isPageCourses}}active{{/if}}">
                <a class="nav-link" href="/courses" tabindex="-1" aria-disabled="true">
                  Courses
                </a>
              </li>
              <li class="nav-item {{#if isPageFaqs}}active{{/if}}">
                <a class="nav-link" href="/faqs" tabindex="-1" aria-disabled="true">
                  FAQs
                </a>
              </li>
              <li class="nav-item {{#if isPageAboutUs}}active{{/if}}">
                <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://sso.teachable.com/secure/583714/users/sign_up?reset_purchase_session=1" tabindex="-1"
                  aria-disabled="true">
                  Sign Up
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="https://sso.teachable.com/secure/583714/users/sign_in?reset_purchase_session=1" tabindex="-1"
                  aria-disabled="true">
                  Login
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--//END NEW INSURANCE -->