<!--==================== Past Speaking and Training ====================-->
<section class="add-section clearfix collaps-wrap">
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>Past Speaking & Training</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="past-speaking-engagement insurance-title_wrap insurance-title_wrap2">
                    <p class="insurance-para">Esterling has been a speaker at the following conferences and events: </p>
                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Haiti Tourism Innovation Summit</h6>
                            <p><a href="https://www.tourisminnovationsummit.com/">Tourism Innovation Summit</a>, a
                                community of Tourism leaders with a clear vision and plan to impact the tourism industry
                                in the Caribbean Region, especially Haiti.</p>
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Trilogy Annual Conference</h6>
                            <p><a href="https://www.trilogyed.com/">Trilogy Education</a> is a Workforce Accelerator.
                                They partner with the best universities in the world
                                to create and manage skills-based training programs. Together, they’re training today’s
                                workers
                                with tomorrow’s skills to help companies bridge the digital skills gap.
                            </p>
                        </div>
                    </div>
                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Startup Grind</h6>
                            <p><a href="https://www.startupgrind.com/jeremie/">Startup Grind</a> is a global startup
                                community designed to educate inspire and connect more entrepreneurs.</p>
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Caribbean Ecommerce Workshop in the Dominican Republic</h6>
                            <p>Walk in without a business, walk out with a business.
                                The <a href="https://youtu.be/IVR-Pp5Ns7M">2020 workshop</a> has concluded and was a
                                success. Stay tuned for 2021 dates.
                            </p>
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Haiti Coding Workshop</h6>
                            <p>Learn the fundamentals of full-stack development in two days.
                                Receive the tools and support to continue to learn and expand your skills beyond the
                                workshop.
                                The <a
                                    href="https://www.trilogyed.com/blog/bringing-learning-home-how-one-coding-grad-is-making-a-difference-in-haiti/">2018
                                    workshop</a> concluded and was a success. Stay tuned for future dates.
                            </p>
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Render ATL (2021)</h6>
                            <p><a href="https://www.renderatl.com/">RenderATL</a> is the first major React conference in
                                the Southern United States.
                                Conceived by a team of passionate React engineers who're looking to help drive.
                            </p>
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>React ATL</h6>
                            <p><a href="https://www.meetup.com/en-AU/React-ATL/">React ATL</a> is a monthly developer
                                meetup to discuss trends and tools coming out of the ReactJS ecosystem.
                        </div>
                    </div>

                    <div class="insurance-type d-flex align-items-center">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tick.png" alt="Check mark">
                        <div class="insurance-type_title">
                            <h6>Georgia Tech events and meetups</h6>
                            <p> <a href="https://www.meetup.com/Tech-Full-Stack-Web-Developers/">Full Stack
                                    Developers</a> (alumni of Georgia Tech Coding Boot Camp Program) working to continue
                                their networking activities and establish connection.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End of Past Speaking and Training -->