<!--==================== Satisfaction Guarantee ====================-->
<section class="add-section clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src="{{#unless isPageHome}}..{{/unless}}/images/shield-yellow.svg" class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> 100% Satisfaction Guarantee</h3>
                        <p>We offer a no questions asked refund policy for 7 days from the purchase date</p>
                    </div>
                    <div class="add-btn">
                        <a href="https://courses.pgecom.com/" class="btn btn-primary">Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END ADD -->