<!--==================== Start your online business ====================-->
<section class="add-section clearfix collapse-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="add-box">
                    <img src="{{#unless isPageHome}}..{{/unless}}/images/shield-green.svg" class="img-fluid shield" alt="#">
                    <div class="add-content">
                        <h3> Start your online business</h3>
                        <p>PG-ecom is here to teach you the ins and outs of a successful e-commerce business. </p>
                    </div>
                    <div class="add-btn">
                        <a href="https://courses.pgecom.com/" class="btn btn-primary">Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>