<!--==================== Steps to launching your online business ====================-->
<section class="space bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>Steps to launching your online business</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color1">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/tshirt-solid.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Find a high-potential product</h6>
                    <p>Find something that has a large global demand, high margins and can be easily warehoused and
                        fulfilled.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color1">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/warehouse-solid.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Lock down a manufacturer</h6>
                    <p>You need a manufacturer who can keep up with demand and creates a quality product.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color2">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/social-media.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Choose a brand name and secure your online presence</h6>
                    <p>Your brand name needs to be not only memorable and appealing to your target audience,
                        but it also needs to be available in the form of a domain name and social media handles.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color3">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/laptop-solid.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Develop your website</h6>
                    <p>Shopify is a great choice for those who don’t have the technical know-how or budget to create a
                        custom website.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color4">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/lightbulb-regular.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Create a marketing plan</h6>
                    <p>You have a product and a website, now you need to put your offering
                        in front of consumers who are likely to be interested in the product.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="item-box">
                    <div class="item-icon color5">
                        <img src="{{#unless isPageHome}}..{{/unless}}/images/store-solid.svg" class="img-fluid" alt="#">
                    </div>
                    <h6>Launch your online store</h6>
                    <p>Do not wait until you think it’s perfect to launch.
                        You will need to continually split-test and make changes -- your e-commerce business
                        will always be growing and evolving.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of steps -->