<!--==================== Training SECTION ====================-->
<section class="add-section content-wrap">
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>Training</h2>
                    </div>
                </div>
            </div>
            <div class="row p-20">
                <p>Esterling Accime is an experienced speaker and teacher.
                    He was an instructor at the Georgia Tech Coding Boot Camp where he taught full stack web
                    development.
                    He has also spoken at conferences about how to start and manage a successful e-commerce business.
                </p>
                <div class="ea-training">
                    <p>Esterling can speak to your group or organization about the following:</p> <br>
                    <div class="courses-text">
                        <i class="fas fa-check"></i>
                        <p>Facebook advertising for small businesses</p>
                    </div>
                    <div class="courses-text">
                        <i class="fas fa-check"></i>
                        <p>Tools for successful online businesses</p>
                    </div>
                    <div class="courses-text">
                        <i class="fas fa-check"></i>
                        <p>Shopify</p>
                    </div>
                    <div class="courses-text">
                        <i class="fas fa-check"></i>
                        <p>WooCommerce</p>
                    </div>
                    <div class="courses-text">
                        <i class="fas fa-check"></i>
                        <p>Dropshipping</p>
                    </div>
                    <p>Send a message to <a href="mailto:info@pgecom.com">info@pgecom.com</a> for information,
                        scheduling and pricing.</p>
                </div>
            </div>
        </div>
    </div>

</section>